GeneradorXML/GeneradorXML/Service References/Pemex/ServicioPedidosClienteService_schema11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.siic.portal/" targetNamespace="http://ws.siic.portal/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="enviaPedidosCliente" type="tns:enviaPedidosCliente" />
  <xs:element name="enviaPedidosClienteResponse" type="tns:enviaPedidosClienteResponse" />
  <xs:complexType name="enviaPedidosCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
      <xs:element minOccurs="0" name="arg5" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviaPedidosClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>